.speaker img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: solid 0.2rem var(--color-button);
    object-fit: cover;
}

.speaker{
    margin: 2rem;
    margin-bottom: 6rem;
}

.speaker h4{
    font-weight: normal;
}