.section-hero{
    width: 100vw;
    background-image: url('../../assets/background.png');
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.section-hero .hero-content h1{
    font-size: 5rem;
    color: var(--color-white);
}

.section-hero .hero-content h2{
    color: var(--color-highlight);
    margin-bottom: 4rem;
}

.hero-content{
    margin-top: 12rem;
}

.title{
    font-size: 3rem;
}

.button{
    background: var(--color-button); 
    color: var(--color-button-text);
    padding: 1.3rem 6rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.7rem;
    text-decoration: none;
    cursor: pointer; 
    transition: 2ms;
}

.button:hover{
    opacity: 90%;
}

.section-about{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-about .about-content h1{
    font-size: 3rem;
    color: var(--color-highlight);
    margin-bottom: 2rem;
}

.section-about .about-content p{
    font-size: 1.8rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}


.section-about img{
    width: 80%;
}

.section-calendar{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calendar-title{
    margin-bottom: 3rem;
}

.section-speakers{
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 12rem;
}

.speakers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#speakers-title{
    margin-bottom: 4rem;
}


@media (min-width: 700px){    

    .section-hero{
        margin-bottom: 10rem;
    }

    .hero-content{
        margin-top: 15rem;
    }

    .section-about{
        margin-top: 1rem;
        flex-direction: row;
    }

    .section-about p{
        max-width: 80%;
    }

    .section-about img{
        width: 50%;
    }

    .section-speakers{
        margin-top: 17rem;
    }

    .speakers{
        flex-direction: row;
        flex-wrap: wrap;
    }

}