.section-hero{
    background-image: image('../../assets/background.png');
    background-position: center;
    background-size: 'cover';
    background-repeat: no-repeat;
    text-align: center;
}

.section-hero .hero-content h1{
    font-size: 5rem;
    color: var(--color-white);
}

.section-hero .hero-content h2{
    color: var(--color-highlight);
    margin-bottom: 4rem;
}

.hero-content{
    margin-top: 6rem;
}

.button{
    background: var(--color-button); 
    color: var(--color-button-text);
    padding: 1.3rem 6rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.7rem;
    text-decoration: none; 
}

.section-about{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-about .about-content h1{
    font-size: 3rem;
    color: var(--color-highlight);
    margin-bottom: 2rem;
}

.section-about .about-content p{
    font-size: 1.8rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}


.section-about img{
    width: 80%;
}

.section-calendar{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calendar-title{
    margin-bottom: 3rem;
}