header {
    width: 100vw;
    height: 15vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    padding: 6rem  4.4rem 0 4.4rem;
}

header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    font-size: 1.6rem;
    padding: 0 1.3rem ;
    margin-right: 0.5rem;
}


header img {
    width: 17.5rem;
    
    align-content: flex-end;
}

header a{
    text-decoration: none;
    color: var(--color-text);
    transition: 2ms;
}

header a:hover{
    color: var(--color-highlight);
}