* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

:root {
    font-size: 60%;
    --color-button: #E3CE0F;
    --color-button-inative: #C4C4C4;
    --color-button-text: #422B72;
    --color-card: #2F1A40;
    --color-background: #422B72;
    --color-highlight: #E3CE0F;
    --color-text: #fff;
    --color-white: #fff;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body{
    height: 100vh;
}

body{
    background: var(--color-background);
}

.container{
    width: 90vw;
    max-width: 700px;
}

body, input, button, textarea{
    font: 500 1.6rem Lato ;
    color: var(--color-text);
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}